
body {
    
}
  .envelope-container{
    position: relative;
    margin-top: 50px;
    opacity: 1;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .envelope {
    width: 224px;
    height: 224px;
    position: relative;
    transition: all 0.6s ease;
    animation: tremble 1s infinite;
    margin: auto;
  }
  .envelope.opened {
    animation: none;
    transform: scale(1.2);
  }
  .envelope.fade-out {
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
  }
  .envelope--base {
    top: 100px;
    z-index: 2;
    width: 220px;
    height: 121px;
    position: relative;
    border-radius: 4px;
    border: 2px solid #00000024;
    background-color: rgb(254, 168, 182);
    transition: opacity 0.5s ease;
  }
  .envelope__tab {
    left: 28px;
    z-index: 1;
    bottom: 26px;
    width: 212px;
    height: 140px;
    position: absolute;
    transform: rotateZ(45deg);
    border-top-left-radius: 30px;
    background-color: pink;
    border: 2px solid #00000024;
    transition: all 0.5s ease;
  }
  .envelope__letter {
    left: 29px;
    z-index: 3;
    width: 158px;
    bottom: 17px;
    height: 100px;
    cursor: pointer;
    font-size: 13px;
    font-style: oblique;
    padding: 12px 18px;
    border-radius: 8px;
    position: absolute;
    box-sizing: border-box;
    background-size: cover;
    color: #a59090;
    border: 1px solid #00000024;
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    background-image: url("https://i.pinimg.com/564x/bd/27/23/bd2723cccfec31aeb82b41034fdd2933.jpg");
  }
  .envelope.opened .envelope__letter {
    height: 350px;
    width: 280px;
    left: -28px;
    color: #4c4444;
    transform: translateY(-150px);
    z-index: 20;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    font-size: 16px;
    padding: 30px;
  }
  
  .envelope.opened .envelope__tab {
    transform: rotateZ(45deg) translateY(-80px) translateX(-80px);
    opacity: 0;
  }
  .envelope.opened .envelope--base {
    opacity: 0;
  }

  .envelope__letter:before {
    content: "";
    height: 0;
    width: 6px;
    right: -34px;
    bottom: -17px;
    position: absolute;
    border-top: 56px solid transparent;
    border-left: 107px solid pink;
    border-right: 107px solid pink;
    border-bottom: 65px solid rgb(255, 174, 187);
  }
  @keyframes tremble {
    0% {
      transform: rotate(-1deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes dudu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} 
  
